[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
django-bootstrap-icons = "*"
stripe = "*"
django-star-ratings = "*"
django-jazzmin = "*"
posthog = "*"

[dev-packages]

[requires]
python_version = "3.10"
