{% extends 'main.html' %}

{% block title %}{{ item.name }}{% endblock title %}

{% block content %}
    <div class="grid grid-cols-5 gap-6 ">
        <div class="col-span-3 " align="center">
            <img src="{{ item.get_image }}" alt="{{ item.name }}" class="rounded-xl max-h-[60vh]">
        </div>

        <div class="col-span-2 p-6 bg-gray-100 rounded-xl">
            <h1 class="mb-6 text-3xl">{{ item.name }}</h1>
            <p class="text-gray-500 "><strong>Price:</strong> {{ item.price }}</p>
            <p class="text-gray-500 "><strong>Seller:</strong> {{ item.created_by.username }}</p>

            {% if item.description %}
                <p class="text-gray-700">
                    <strong class="text-gray-500">Description:</strong><br>
                    {{ item.description }}
                </p>
            {% endif %}

            {% if request.user == item.created_by %}
                <div class="mt-6 p-6 bg-white rounded-xl">
                    <p>This is your item!</p>
                    <a href="{% url 'item:edit' item.id %}"
                       class="inline-block mt-6 px-6 text-lg font-semibold bg-teal-500 text-white rounded-xl hover:bg-teal-700 transition-all">Edit</a>
                    <a href="{% url 'item:delete' item.id %}"
                       class="inline-block mt-6 px-6 text-lg font-semibold bg-red-500 text-white rounded-xl hover:bg-red-700 transition-all">Delete</a>
                </div>
            {% else %}
                <a href="{% url 'conversation:new' item.id %}"
                   class="inline-block mt-6 px-6 py-4 text-lg font-semibold bg-teal-500 text-white hover:bg-teal-700 rounded-xl">Contact
                    Seller</a>

                <div>
                    <a
                            href=""
                            class="mt-6 inline-block px-8 py-4 rounded-xl bg-teal-500 text-white hover:bg-teal-600"
                            hx-get="{% url 'add_to_cart' item.id %}"
                            hx-target="#menu-cart-button"
                            hx-swap="outerHTML"
                    >
                        Add to cart
                    </a>
                </div>
            {% endif %}

        </div>
    </div>
    <div class="">
        <div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
            <h2 class="mb-12 text-2xl text-center">Related items</h2>

            <div class="flex flex-row justify-start align-items-center flex-wrap gap-6">
                {% for item in related_items %}
                    <div>
                        <a href="{% url 'item:detail' item.id %}">
                            <div class="w-[450px] h-[450px] rounded-t-xl"
                                 style="background-image: url('{{ item.get_thumbnail }}'); background-size: cover;">
                                {#                        <img src="{{item.get_thumbnail}}" alt="{{item.name}}" class="rounded-t-xl">#}
                            </div>

                            <div class="p-6 bg-white rounded-b-xl">
                                <h2 class="text-2xl">{{ item.name }}</h2>
                                <p class="text-gray-500">Price: {{ item.price }}</p>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock content %}